<div class="col-lg-3 col-md-6 col-sm-6 d-flex">
    <div class="article">

        <img src="{{ article.image.url }}" alt="" class="article-img-top">

        <div class="article-body d-flex flex-column">
            <div class="d-flex justify-content-between mb-3">
                <div class="meta d-flex">

                    <span class="text-muted">{{ article.submitted }}</span>
                </div>

            </div>
            <a href="#">
                <h4 class="mt-0">{{ article.title }}</h4>
            </a>
            <p class="flex-grow-1">
                {{ article.description }}

            </p>
            {% if article.url %}
            <a href="{{ article.url }}" class="read-more">Mehr erfahren</a>
            {% endif %}
        </div>
    </div>
</div>